.idea
.idea/*
results
teste.txt
results_drift
dyn2sel/__pycache__
dyn2sel/apply_dcs/__pycache__
dyn2sel/dcs_techniques/__pycache__
dyn2sel/ensemble/__pycache__
html
dyn2sel/tests/.pytest_cache
dyn2sel/*/.pytest_cache
p2.csv
xp_wps.py
xp_wps_post_drift.py
main.py
docs/_build
docs/_build/*
